<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            body {
                text-decoration: none;
                color: white;
            }
            
        </style>
    </head>

    <body>
       <marquee> <h1 id> Color color which color do you want to choose.....<h1></marquee>
        <marquee direction="right"><h2 id>Choose the color and know the hex code</h2></marquee>
        <h1><marquee direction="down" width="250" height="200" behavior="alternate" style="border:solid"><marquee behavior="alternate"><b><i>Hello I'm Riya</i></b></marquee></marquee></h1>

    <h1 align=center>Color code</h1>
      <form align=center>
       <label for="clr"><h3>Choose a color? </h3></label><br/><br/>
       <input type="color" name="clr" id="clr"/> <br/><br/>
       <input type="button" value="Submit" onClick="chColor()"/>

        <script>
            window.onload = function() {
              setInterval(anim, 900);
            };

            function anim() {
                document.getElementsByTagName("html")[0].style.background = "#" + Math.round(Math.random() * 1000000);
               }

            function chColor(){
                  var rep = document.getElementById("clr").value;
                  alert("Hey, You've got a good sense of colors...The hex code of this color is: "+rep);
                }
        </script>
      </form>
    </body>

</html>
