<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: white;
            }

        </style>
    </head>

    <body>
        <h1><b><i>Hello I'm Riya</i></b></h1>
        <script>
            window.onload = function() {
              setInterval(anim, 500);
            };

            function anim() {
                document.getElementsByTagName("html")[0].style.background = "#" + Math.round(Math.random() * 1000000);
               }
        </script>
    </body>

</html>
