<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            body {
                text-decoration: none;
                color: white;
            }
            #z1 {
               animation: type 13s steps(22) infinite;
               overflow: hidden;
               white-space: nowrap;
               border-right: 4px solid;
               width: 30ch;
            }
           #z2 {
              animation: type1 7.5s steps(9) infinite;
              overflow: hidden;
              white-space: nowrap;
              border-right: 4px solid;
              width: 8ch;
          }
           @keyframes type {
                0% {
                    width: 0ch;
                }
                100% {
                      width: 22ch;
                }
           }
        
           @keyframes type1 {
               0% {
                   width: 0ch;
               }
               100% {
                    width: 9ch;
               }
            }

        </style>
    </head>

    <body>
        <h1 id="z1"> Color color which color do you want to choose.....<h1>
        <h2 id="z2">Choose the color and know the hex code</h2>
        <h1><marquee direction="down" width="250" height="200" behavior="alternate" style="border:solid"><marquee behavior="alternate"><b><i>Hello I'm Riya</i></b></marquee></marquee></h1>

    <h1 align=center>Color code</h1>
      <form align=center>
       <label for="clr"><h3>Choose a color? </h3></label><br/><br/>
       <input type="color" name="clr" id="clr"/> <br/><br/>
       <input type="button" value="Submit" onClick="chColor()"/>

        <script>
            window.onload = function() {
              setInterval(anim, 900);
            };

            function anim() {
                document.getElementsByTagName("html")[0].style.background = "#" + Math.round(Math.random() * 1000000);
               }

            function chColor(){
                  var rep = document.getElementById("clr").value;
                  alert("Hey, You've got a good sense of colors...The hex code of this color is: "+rep);
                }
        </script>
      </form>
    </body>

</html>
