<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            .h1 {
                text-decoration: none;
                text-shadow: 2px 2px #F0FFFF;
                color: white;
            }

        </style>
    </head>

    <body>
        <h1><marquee direction="down" width="250" height="200" behavior="alternate" style="border:solid"><marquee behavior="alternate"><b><i>Hello I'm Riya</i></b></marquee></marquee></h1>

    <h1 align=center>Color code</h1>
      <form align=center>
       <label for="clr">Choose a color? </label><br/><br/>
       <input type="color" name="clr" id="clr"/> <br/><br/>
       <input type="button" value="Submit" onClick="chColor()"/>

        <script>
            window.onload = function() {
              setInterval(anim, 800);
            };

            function anim() {
                document.getElementsByTagName("html")[0].style.background = "#" + Math.round(Math.random() * 1000000);
               }

            function chColor(){
                  var rep = document.getElementById("clr").value;
                  alert("The hex code of this color is: "+rep);
                }
        </script>
      </form>
    </body>

</html>
